/* Global Styles */

* {
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 600px) {
    .header_form_box h5 {
        font-size:5px;   
    }
    
    .overlay_inner h1 {
        font-size: 45px !important;
    
    }
        
    .overlay_inner h4 {
        font-size: 25px !important;
    }
    
    
    .header_section {
        height:50%;
    }
    
    .header_form_box  {
        width:80% !important;
    }
    
    .context_box {
        display:none;
    }
    
    .information_section {
        text-align: center !important;
    }
    
    .information_section img {
        margin-bottom:30px;
    }
    
    .testimonial_box {
        margin-bottom:30px;
    }


}

h1,h2,h3,h4,h5 {
    margin-bottom:0 !important;
}

body,html {
    width:100%;
    height: 100%;
}


.context_box {
    padding: 10px 25px;
    border: 2px solid #d82129;
    color:#fff;
    font-family:Open Sans;
    font-weight: 800;
}

.header_form_box {
    width:30%;
    margin: 0px auto;
    margin-top:20px;
    position:relative;
}

.float_content_right {
    text-align: right;
}

/* Header Section Styles */

.header_section {
    height: 800px;
    background-size: cover;
    width:100%;

}

.header_section .container {
    max-width:1280px;
}

.overlay_inner {
    text-align: center;
    top:20%;
    position: relative;
}

.header_form_box h5 {
    background:rgb(216, 33, 41, 0.8);
    margin: 0px auto;
    width:100%
    margin-top:30px;
    color:#fff;
    font-family:Open Sans;
    font-weight: 800;
    padding: 5px 10px;
    
    letter-spacing: 2px;
    font-size:20px;
}

.placeholder_form {
    width:100%;
    margin: 0px auto;
    height:350px;
    background:rgba(0,0,0,0.8);
}

.overlay_inner h1 {
    font-family:Oswald;
    color:#fff;
    font-weight: 800;
    font-size: 8rem;
}

.overlay_inner h4 {
    font-family:Oswald;
    color:#fff;
    letter-spacing: 2px;
    font-weight: 300;
    font-size:23px;
}

.header_navigation {
    height: 80px;
    top:0;
    position: absolute;
    width:100%;
    background:rgba(0,0,0,0.8);
    z-index:200;
    line-height: 80px;
}

.navigation_logo {
    position:relative;
    top:12px;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container video {
    position: absolute;
    z-index: 0;
    top:0;
    width:100%;
    height: 100%;
    object-fit: fill;
    
  }

.video-container .overlay {
    background: rgba(0,0,0, 0.7);
    width:100%;
    height: 100%;
    z-index: 100;
    position: absolute;
}

/* Note Section */

.notes_section {
    padding:8rem 0;
    padding-bottom:5rem;
    width:100%;
    background-image:url(charts_background.png);
}


.notes_section .column {
    position:relative;
    text-align: center;
    margin: 0px auto;
}

.notes_section .quicknote_container {
    padding: 2rem 0;
    position:relative;
    width:90%;
    margin:0px auto;
    background:#fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.notes_section img {
    position:relative;
    top:-50px;
}

.notes_section .quicknote_container h1 {
    font-family:Open Sans;
    font-weight: 700;
    font-style: italic;
    position:relative;
    margin-top:-40px;
    color: #d82129;
    
}

.notes_section p {
    margin-left:30px;
}

.notes_section .container {
    max-width: 1180px;
}

.notes_section .quicknote_container h5 {
    font-family:Open Sans;
    font-weight: 400;
    font-size: 28px;
}

.notes_section .quicknote_container h6 {
    position:relative;
    margin-top:0px;
    margin-bottom:0px;
    color:#444;
}

.notes_section .quicknote_container button {
    background-color:#d82129;
    border: 0;
    margin-top:10px;
    margin-bottom: 10px;
    color:#fff;
    padding: 5px 80px;
    max-height: auto;
    height: auto;
    
    font-family:Open Sans;
    font-weight: 700;
    font-size:15px;
}

.notes_section  p {
    text-align: justify;
    position:relative;
    letter-spacing: 2px;
    line-height: 32px;
}

.information_section {
    padding: 10rem 0;
    background-image:url(information_background.png);
    background-size: cover;
    background-position: right top;
}

.information_section .container {
    max-width:90%;
}

.information_section .information_parent_container {
    background: rgba(255, 255, 255, 0.5);
    width:calc(100% - 60px);
    height: auto;
    padding: 30px;
    border-radius: 20px;
}



.information_section .information_parent_container h1 {
    text-align: center;
    font-size:40px;
    font-family:Open Sans;
    letter-spacing: 3px;
    font-weight: 800;
    margin-bottom:30px !important;
}

.information_section .information_parent_container h5 {
     font-size:16px;
    color:#d82129;
    font-weight: 600;
    font-family:Open Sans;  
}

.information_section .information_parent_container li {
    font-family:Open Sans;
    font-weight: 400;
    text-align: justify;
    margin-bottom:10px;
}

.information_section .information_parent_container ul {
    margin-left:2%;
    padding: 5px;
}

.products_section {
    padding: 10rem 0;
    padding-bottom:7rem;
    background-image: url(products_background.png);
    background-size: cover;
}



.products_section h1 {
    color:#fff;
    font-family:Open Sans;
    font-weight: 800;
    font-size: 38px;
    text-align: center;
}

.products_section ul {
    margin-left:30px;
}

.products_section .column {
    margin-left:30px;
}

.products_section li {
    color:#fff;
    font-family:Open Sans;
    margin: 20px;
    margin-left: 0px;
}

.products_section img {
    height: 240px;
    margin-top: 10px;
}

.testimonials_section {
    background: #e6e8e6;
    padding:5rem 0;
}

.testimonials_section h1 {
    color:#222;
    font-family:Open Sans;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px !important;
}

.testimonials_section img {
    height: 150px;
}

.testimonials_section .container {
    margin-top: 50px;
    text-align: center;
}

.testimonials_section h4 {
    font-family: Open Sans;
    font-size: 20px;
    margin-top:10px;
}

.testimonials_section p{
    margin: 0px;
    font-family: Open Sans;
    font-weight: 200;
    font-style: italic;
    color:#444;
}

.testimonial_box {
	position: relative;
	background: #ffffff;
    padding: 20px;
    margin-top:30px;
}
.testimonial_box:after, .testimonial_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.testimonial_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 20px;
	margin-left: -20px;
}
.testimonial_box:before {
	border-color: rgba(245, 245, 245, 0);
	border-width: 20px;
	margin-left: -20px;
}

.contact_section {
    padding: 5rem 0;
    background-size: cover;
    background-image: url(contact_background.png);
}

.contact_section .container {
    text-align: center;
}

.contact_section h1 {
    color: #fff;
    text-align: center;
    font-family:Open Sans;
    font-weight: 800;
    font-size: 30px;
    margin-bottom:35px !important;
}

.contact_section p {
    text-align: center;
    color:#fff;
    font-style: italic;
    font-family:Open Sans;
}

.contact_button {
    height: auto;
    text-align: center;
    padding: 10px 10px;
    color:#fff;
    border:2px solid #d82129;
    border-radius: 0px;
    
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    margin-top:10px;
}

.contact_button:hover {
    transition:all 0.2s ease-in-out;
    border:2px solid #d82129;
    background:#d82129;
    color:#fff;
}

.footer_section {
    background: #101010;
    padding: 6rem 0;
    padding-bottom:3rem;

}

.footer_section ul {
    margin: 0px;
}

.footer_section li {
    list-style: none;
    margin-bottom:0px !important;
    font-family:Open Sans;
    color:#fff;
    font-weight: 600;
}

.footer_section .column:last-child {
    text-align: right;

}

.footer_section h5 {
    color:#fff;
    margin-top:20px;
    font-family:Open Sans;
    font-weight: 600;
    font-size: 20px;
}

.footer_section p {
    color:#fff;
    font-family:Open Sans;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
}

.footer_end_section {
    background: #0c0c0c;
    padding: 2rem 0;
}

.footer_end_section {
    color:#fff;
    font-family:Open Sans;
    font-size: 13px;
}

.social_button {
    margin: 10px 1px;
    border:0px;
    color:#fff;
    border-radius: 50%;
    background:  #d82129;
    height: 40px;
    width:40px;
    max-width: auto;
    padding: 0px;
}

.social_button:hover {
    color:#fff;
}

.social_button:active {
    color:#fff;
}

.social_button i {
    margin: 0px;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
h1 {
    
}

.products_section .container {
    width:85%;
    max-width: 1200px;
}

.products_section li {
    font-weight: 600;
}
