body,html {
     margin:0px;
     width:100%;
     height:100%;
}
 .header {
     clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
     background:url(resources/image.jpg);
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width:100%;
     background-size:cover;
     padding: 16rem 0;
     text-align:center;
     padding-top:7rem;
}
 .header .row {
     color:#fff;
     text-align:center;
     font-family:Roboto Condensed;
}

.header #boxBehind {
   background:rgba(0, 0, 0, 0.4);
  margin-bottom:5rem;
  padding:5rem;
  margin-top:5rem;
}

.header h4 {
  margin:0px auto;
  width:960px;
}


 .header .row h1 {
     font-weight:700;
     font-size:12rem;
}
 .header .row h5 {
     font-weight:600;
     font-size:2rem;
}
 .limited h4 {
     color:#fff;
     font-family:Roboto Condensed;
}
 .limited h1 {
     color:#eee;
     font-weight:700;
     font-family:Roboto Condensed;
}
 .testimonals {
     background: #ececec;
     padding: 10rem 0;
     padding-bottom:12rem;
}
 .testimonals h1 {
     text-align:center;
     font-family:Roboto Condensed;
     font-weight:700;
}
 #testimonal {
     font-family:Roboto Condensed;
     background:#fff;
     font-size:2rem;
     box-shadow: 10px 10px 0px 0px rgba(212,212,212,1);
}

#testimonal p {
  padding:0px 20px;
  font-family:Lato;
  font-size:2.5rem;
  position:relative;
  min-height:130px;
  position:relative;
  text-align:center;
}
 #testimonal h5 {
     font-weight:bold;
     margin-top:-10px;
     color:#d82129;
     font-size:2.5rem;
     position:relative;
     text-align:center;
     padding:5px 10px;
     background: #222;
}
 .center-text {
     position:relative;
     top:50%;
     transform:translateY(-50%);
}
 .limited {
     background:#222;
     width:100%;
     padding:15rem 0;
     margin-top:-180px;
     padding-top:calc(10rem + 150px);
}
 .limited .container {
     width:90%;
}
 .limited .container img {
     position:relative;
     box-shadow: 15px 15px 0px 0px rgba(0,0,0,1);
}
 #introductionHeader {
     background:#d82129;
     padding:5rem;
     color:#fff;
     font-family:Roboto Condensed;
     text-align:center;
     clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
 #introductionHeader h1 {
     font-weight:700;
}
 #introductionMain {
     padding:20rem 0;
     background:url(resources/canary-background.png);
     background-size:cover;
     margin-top:-60px;
}
 #introductionMain h1 {
     color:#fff;
     font-weight:700;
     font-family:Roboto Condensed;
     text-align: center;
}
 #introductionMain h4 {
     color:#fff;
     font-family:Roboto Condensed;
     text-align: center;
     padding:20px;
}
 #introductionMain .quotes {
     color:#fff;
     font-family:Roboto Condensed;
     border:2px solid red;

}
 .seen-on {
     background:#d82129;
     padding:13rem;
     padding-bottom:5rem;
     margin-top:-100px;
     clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 25%);
     color:#fff;
     font-family:Roboto Condensed;
     text-align: center;

}

.seen-on h1 {
  font-weight:700;
}

 .program {
     background:url(resources/bitcoin.jpg);
     background-size:cover;
     padding:10rem 0;
          padding-top:5rem;
     clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 91%, 0% 25%);
}
 .program h1 {
     color:#fff;
     font-family:Roboto Condensed;
     text-align: center;
     font-weight:700;
     padding-bottom:1rem;
     border-bottom:5px solid #d82129;
     margin-bottom:3rem;
}
 .number {
   background:#d82129;
   float:left;
   margin-right:10px;
   line-height:60px;
   min-height:60px;
   padding:0 1.5rem;
   font-family:Roboto Condensed;
   color:#fff;
}

.listItem {
  min-height:60px;
  font-family:Roboto Condensed;
  color:#fff;
  font-size:2.2rem;
  background: #282731;
  width:100%;
  margin-bottom:10px;
  /* transition:all 0.2s ease-in-out; */
  /* cursor:pointer; */
}

.listItem:hover {
  /* background: #1f1e29; */
}

.innerList {
  clear:both;
  display:none;
  background:rgba(0,0,0,0.1);
  font-size:1.8rem;
  padding:2rem;
}

.program .lnr {
  /* FIX LATER :  */ display:none;
  float:right;
  font-size:3.2rem;
  color: #49465f;
  line-height:60px;
  padding:0 1rem;
}

 .program h5 {
   line-height:60px;
   margin:0px;
 }


 .start {
     background:#d82129;
     padding:10rem;
     margin-top:-70px;
     padding-top:calc(10rem + 00px);
     text-align:center;
     clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

div.section:nth-child(11) {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

 .start h1 {
     font-family:Roboto Condensed;
     font-weight:700;
     color:#fff;
}
 #inputbox {
     background:#FFF;
     font-family:Roboto Condensed;
     padding:2rem;
     box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.4);
}
 .start .container {
     margin-top:30px;
}
 .submit {
     background-color: #33C3F0;
     box-shadow: 10px 10px 0px 0px #346F81;
     padding:2rem;
     color:#fff;
     font-family:Roboto Condensed;
     font-weight:700;
     float: right;
     width: 200px;
}

.contact {
  background:url(resources/texture.png);
  margin-top:-50px;
  padding:15rem 0;
  padding-bottom:6rem;
  text-align:center;

}


.contact h1 {
  color:#222;
  font-family:Roboto Condensed;
  font-weight:700;
  margin-bottom:0px;
}

.contact .row {
  padding:1rem;
}

.button-contact {
  border:3px solid #d82129 !important;
  padding:1rem 5rem;
  width:100%;
  height:auto !important;
  font-family:Roboto Condensed;
}

.button-contact:hover {
  color:#fff !important;
  background:#d82129;
  transition:all 0.2s ease-in-out;
}

.button-contact:hover > span {
  color:#fff !important;
  transition:all 0.2s ease-in-out;
}


.contact h5 {
  font-family:Roboto Condensed;
}

.button-contact {
  color:red;
  font-size:2.5rem;
}

.contact span {
  color:red;
  margin-right:5px;
  font-size:2.5rem;
}

.challenges {
  padding:10rem 0;
  background:url(resources/siderav.png);
  background-size:cover;
}

.challenges h1 {
  text-align:center;
  font-family:Roboto Condensed;
  font-weight:700;
  color:#222;

}

.challenges .column {
  height:315px;
}

.youtube {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.challenges .container {
    max-width:1300px !important;
    width:100%;
    padding: 8rem 0;
}

.challenges h2 {
  text-align:left;
  position:relative;
  color:#222;
  font-size:3rem;
  font-family:Roboto Condensed;
}

.alignright {
  text-align:right !important;
}

.challenges iframe {
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.8);
}



#phonePopup {
  display:none;
  background:rgba(0,0,0,0.95);
  position:absolute;
  width:calc(60%);
  left:50%;
  transform:translateX(-50%);
  z-index:99;
  padding:1rem;
}

#phonePopup .row {
  padding:2rem 0;
}

#phonePopup h5 {
  color:#fff;
  padding:4rem;
  padding-bottom:0;
  font-family:Roboto Condensed;
  font-weight:700;
  margin:0px;
  font-size:4rem;
}

#phonePopup p {
  font-family:Roboto Condensed;
  color:#fff;
  font-size:3rem;
}

#phonePopup span {
  float:right;
}

#toggleHoverClose {
  cursor:pointer;
}

a {
  text-decoration: none;
  color: red !important;
}

.conclusion p {
  min-height:calc(480px - 18rem);
  padding:9rem;
  background:#d82129; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family:Roboto Condensed;
  color:#fff;
  font-size:3rem;
}

.conclusion .column, .columns {
  margin:0px;
}

#ravGreyscale  {
  height:480px;
  z-index:-2;
  background:url(resources/adressrav.png);
  background-size:cover;
}


.conclusion {
  background:#222;
}


.conclusion .container {
  padding:5rem;
  padding-bottom:12rem;
  color:#fff;
  font-family:Roboto Condensed;
}

.conclusion h1 {
  font-weight:700;
  margin-bottom:30px;
}

#ravProfile {
  background:white;
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.5);
  border:3px solid #d82129;
  margin-right:20px;
}

#author {
  background:#222;
  padding:1rem;
}

.challenges b {
  text-transform: uppercase;
  font-weight:700;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.footer {
  background:#222;
}

.footer {
  font-family:Roboto Condensed;
  padding:4rem 0;
}

.footer h5 {
  margin:0px;
  font-size:20px;
  color:#eee;
}

.footer p {
  margin:0px;
  color:#eee;
}

@media screen and (max-width: 1600px) {

  .header .row h1 {
    font-size:11rem;
  }

  .conclusion p {
    font-size:2.5rem;
  }
  #ravGreyscale {
    background-position:right;
  }



}
